<h1>
  <%= @user %>
</h1>


<p class="link-to-rest"><%= link_to "All Restaurants in Your Area", restaurant_url %></p>


<h2>Manage your reservations</h2>

<p><%= link_to "Your Reservations", user_reservation_path(@user) %></p>

<%= link_to "Edit", @user_edit_reservation_path %>
<%= link_to "Delete", @user_reservation_path, method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %>
