
<h1 class="rest-page-name"> <%= @restaurant.name %> - <%= @restaurant.cuisine %> </h1>

<p class="rest-page-image"> <%= link_to image_tag(@restaurant.image) %> </p>

<h2 class="rest-page-description"><%= @restaurant.location %></h2>

<% if current_user %>
    <p class="log-in"><%= link_to "Make New Reservation", new_restaurant_reservation_path(@restaurant) %></p>
<% else %>
    <p class="log-in">Please <%= link_to "log in", new_session_path %> to make a reservation. </p>
<% end %>
