<h1>Reservation<h1>

<p>You are now ready to book the reservation for <%= @restaurant.name %></p>

<%= render "form" %>
<%= link_to "Back", reservation_path%>


<!-- <% @product.reservation.each do |reservation| %>
  <p>
    <%= reservation %>
    <br>
    <%= if reservation.user != nil %>
      <em> by <%= reservation.user.username %></em>
      Added on: <%= reservation.created_at%>
    <% end %>
  </p>
<% end %>  -->
